.header {
    width: 100vw;
    height: 1000vh;

    display: grid;
    justify-content: center;
   
    
    
}

.navbar {
    background-color: #082452;//de schimbat culoarea
    box-shadow: 0 2px 6px 0 rgba(145, 91, 189, 0.2);
}